In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [2]:
 pop= pd.read_html('https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_population')

In [3]:
#take first table on page
pop=pop[0]
pop.head()

  Rank      State or territory Census population[8][a]                \
  2021 2010 State or territory            July 1, 2021 April 1, 2010
0  1.0  1.0         California                39237836      37253956
1  2.0  2.0              Texas                29527941      25145561
2  3.0  4.0            Florida                21781128      18801310
3  4.0  3.0           New York                19835913      19378102
4  5.0  6.0       Pennsylvania                12964056      12702379

  Change,2010–2021[8][a]          House of Reps.[b]          \
                       %     Abs.                S.       %
0                   5.3%  1983880                52  11.95%
1                  17.4%  4382380                38   8.74%
2                 15.85%  2979818                28   6.44%
3                  2.36%   457811                26   5.98%
4                  2.06%   261677                17   3.91%

  Pop. per elec. vote, 2020[c] Census pop. per seat          \
  Pop. per elec. vote, 2020[c]                 2020    2010
0                       715783               761091  702905
1                       772652               767981  698488
2                       749425               770376  696345
3                       666785               777529  717707
4                       639163               765403  705688

  % of the total U.S. pop.[d]                      % of Elec. Coll.
                    Est. 2020    2010 Ch.2010–2020 % of Elec. Coll.
0                      11.80%  11.91%       –0.11%           10.04%
1                       8.70%   8.04%        0.66%            7.43%
2                       6.43%   6.01%        0.42%            5.58%
3                       6.03%   6.19%       –0.17%            5.20%
4                       3.88%   4.06%       –0.18%            3.53%

In [25]:
#grab population numbers
pop2= pop[['Census population[8][a]'][0]]
pop3=pop2['July 1, 2021']

In [26]:
#grab state names
st=pop[['State or territory'][0]]
st.head()

  State or territory
0         California
1              Texas
2            Florida
3           New York
4       Pennsylvania

In [19]:
# create new dF with just name and popultaion
population= pd.concat([st,pop3] , axis=1).rename(columns={'State or territory':"State", 'July 1, 2021':"Population"})
population

                           State  Population
0                     California    39237836
1                          Texas    29527941
2                        Florida    21781128
3                       New York    19835913
4                   Pennsylvania    12964056
5                       Illinois    12671469
6                           Ohio    11780017
7                        Georgia    10799566
8                 North Carolina    10551162
9                       Michigan    10050811
10                    New Jersey     9267130
11                      Virginia     8642274
12                    Washington     7738692
13                       Arizona     7276316
14                 Massachusetts     6984723
15                     Tennessee     6975218
16                       Indiana     6805985
17                      Maryland     6165129
18                      Missouri     6168187
19                     Wisconsin     5895908
20                      Colorado     5812069
21                     Minnesota     5707390
22                South Carolina     5190705
23                       Alabama     5039877
24                     Louisiana     4624047
25                      Kentucky     4505836
26                        Oregon     4237256
27                      Oklahoma     3959353
28                   Connecticut     3605944
29                   Puerto Rico     3285874
30                          Utah     3271616
31                          Iowa     3190369
32                        Nevada     3104614
33                      Arkansas     3025891
34                   Mississippi     2961279
35                        Kansas     2937880
36                    New Mexico     2117522
37                      Nebraska     1961504
38                         Idaho     1839106
39                 West Virginia     1793716
40                        Hawaii     1455271
41                 New Hampshire     1377529
42                         Maine     1362359
43                  Rhode Island     1097379
44                       Montana     1084225
45                      Delaware      989948
46                  South Dakota      886667
47                  North Dakota      779094
48                        Alaska      733391
49          District of Columbia      689545
50                       Vermont      643077
51                       Wyoming      576851
52                      Guam[10]      153836
53       U.S. Virgin Islands[11]       87146
54            American Samoa[12]       49710
55  Northern Mariana Islands[13]       47329
56      Contiguous United States   329260619
57                 The 50 states   330759736
58        The 50 states and D.C.   331449281
59           Total United States   335073176

In [20]:
#delete territories and totals (keeping PR for now)
population=population.drop(range(52,60))

In [21]:
population.dtypes

State         object
Population     int64
dtype: object

In [41]:
empl= pd.read_html('https://www.bls.gov/web/laus/laumstrk.htm')
emp_df = pd.DataFrame(empl[0])
emp_df = emp_df.rename(columns={'April 2022(p)rate': 'apr_22_unemp', "Rank": 'unemp_rank'})
emp_df.drop(range(51,54))

                   State apr_22_unemp unemp_rank
0               Nebraska          1.9          1
1                   Utah          1.9          1
2                Indiana          2.2          3
3              Minnesota          2.2          3
4                Montana          2.3          5
5          New Hampshire          2.3          5
6           South Dakota          2.3          5
7                 Kansas          2.4          8
8                Vermont          2.5          9
9                  Idaho          2.6         10
10              Oklahoma          2.7         11
11               Alabama          2.8         12
12          North Dakota          2.8         12
13             Wisconsin          2.8         12
14               Florida          3.0         15
15                  Iowa          3.0         15
16              Virginia          3.0         15
17               Georgia          3.1         18
18               Arizona          3.2         19
19              Arkansas          3.2         19
20          Rhode Island          3.2         19
21             Tennessee          3.2         19
22                 Maine          3.3         23
23        South Carolina          3.3         23
24               Wyoming          3.3         23
25              Missouri          3.4         26
26        North Carolina          3.4         26
27              Colorado          3.6         28
28         West Virginia          3.6         28
29                Oregon          3.7         30
30              Kentucky          3.9         31
31                  Ohio          4.0         32
32             Louisiana          4.1         33
33         Massachusetts          4.1         33
34           Mississippi          4.1         33
35            New Jersey          4.1         33
36            Washington          4.1         33
37                Hawaii          4.2         38
38              Maryland          4.2         38
39              Michigan          4.3         40
40                 Texas          4.3         40
41           Connecticut          4.4         42
42              Delaware          4.5         43
43              New York          4.5         43
44            California          4.6         45
45              Illinois          4.6         45
46          Pennsylvania          4.8         47
47                Alaska          4.9         48
48                Nevada          5.0         49
49            New Mexico          5.3         50
50  District of Columbia          5.8         51

In [42]:
popemp=population.merge(emp_df, left_on='State', right_on="State")

In [43]:
popemp

                   State  Population apr_22_unemp unemp_rank
0             California    39237836          4.6         45
1                  Texas    29527941          4.3         40
2                Florida    21781128          3.0         15
3               New York    19835913          4.5         43
4           Pennsylvania    12964056          4.8         47
5               Illinois    12671469          4.6         45
6                   Ohio    11780017          4.0         32
7                Georgia    10799566          3.1         18
8         North Carolina    10551162          3.4         26
9               Michigan    10050811          4.3         40
10            New Jersey     9267130          4.1         33
11              Virginia     8642274          3.0         15
12            Washington     7738692          4.1         33
13               Arizona     7276316          3.2         19
14         Massachusetts     6984723          4.1         33
15             Tennessee     6975218          3.2         19
16               Indiana     6805985          2.2          3
17              Maryland     6165129          4.2         38
18              Missouri     6168187          3.4         26
19             Wisconsin     5895908          2.8         12
20              Colorado     5812069          3.6         28
21             Minnesota     5707390          2.2          3
22        South Carolina     5190705          3.3         23
23               Alabama     5039877          2.8         12
24             Louisiana     4624047          4.1         33
25              Kentucky     4505836          3.9         31
26                Oregon     4237256          3.7         30
27              Oklahoma     3959353          2.7         11
28           Connecticut     3605944          4.4         42
29                  Utah     3271616          1.9          1
30                  Iowa     3190369          3.0         15
31                Nevada     3104614          5.0         49
32              Arkansas     3025891          3.2         19
33           Mississippi     2961279          4.1         33
34                Kansas     2937880          2.4          8
35            New Mexico     2117522          5.3         50
36              Nebraska     1961504          1.9          1
37                 Idaho     1839106          2.6         10
38         West Virginia     1793716          3.6         28
39                Hawaii     1455271          4.2         38
40         New Hampshire     1377529          2.3          5
41                 Maine     1362359          3.3         23
42          Rhode Island     1097379          3.2         19
43               Montana     1084225          2.3          5
44              Delaware      989948          4.5         43
45          South Dakota      886667          2.3          5
46          North Dakota      779094          2.8         12
47                Alaska      733391          4.9         48
48  District of Columbia      689545          5.8         51
49               Vermont      643077          2.5          9
50               Wyoming      576851          3.3         23